env/
venv/
.venv/

airflow/airflow.db
airflow/logs/
airflow/airflow-webserver.pid

data/raw/
data/silver/
data/gold/
*.zip
*.json

kafka_2.13-4.1.1/
kafka_2.13-4.1.1.tgz

__pycache__/
*.pyc
*.pyo

*.log

.DS_Store
.vscode/
.idea/

tmp/
temp/
